<%- include("header")-%>
<div class="content" id="user-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="fa fa-money"></i>
            </div>
            <p class="card-category">Your Total Invest</p>
            <h3 class="card-title"><%= user.balance %>
              <small>ASTRA</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="fa fa-dollar"></i>
            </div>
            <p class="card-category">Revenue</p>
            <h3 class="card-title">$<%= user.revenue %></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">account_circle</i>
            </div>
            <p class="card-category">Investers</p>
            <h3 class="card-title"><%= user.invester %></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">USDT Price</h4>
            <p class="card-category">
              <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card card-chart">
          <div class="card-header card-header-danger">
            <div class="ct-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">BTC Price</h4>
            <p class="card-category">Last Campaign Performance</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> campaign sent 2 days ago
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if(user.role === 'admin'){ %>
<div class="content" id="user-agency">
  <div class="container-fluid">
    <div class=" card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Agency Requested Lists</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Balance</th>
            <th>Revenue</th>
            <th>Investers</th>
            <th>Action</th>
          </thead>
          <tbody id="table-agency-waiting-manager">
            <% userAwaiting.forEach(function (userAwaiting){ %>
            <tr id="network-user-info" data-awaitId="<%= userAwaiting._id %>">
              <td><%= userAwaiting.local.email %></td>
              <td><%= userAwaiting.phone %></td>
              <td><%= userAwaiting.address %></td>
              <td><%= userAwaiting.balance %></td>
              <td><%= userAwaiting.revenue %></td>
              <td><%= userAwaiting.invester %></td>
              <td><input id="accept-agency-req" type="button" class="btn btn-warning" value="Accept" data-uid="<%= userAwaiting._id %>">&nbsp;<input id="cancel-agency-req" type="button" class="btn btn-danger" value="Cancel" data-uid="<%= userAwaiting._id %>"></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <div class=" card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Agency</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning" >
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Balance</th>
            <th>Revenue</th>
            <th>Investers</th>
            <th>Action</th>
          </thead>
          <tbody id="table-agency-manager">
            <% userAgency.forEach(function (userAgency){ %>
            <tr id="network-user-info" data-agencyId="<%= userAgency._id %>">
              <td><%= userAgency.local.email %></td>
              <td><%= userAgency.phone %></td>
              <td><%= userAgency.address %></td>
              <td><%= userAgency.balance %></td>
              <td><%= userAgency.revenue %></td>
              <td><%= userAgency.invester %></td>
              <td><input id="delete-agency-role" type="button" class="btn btn-danger" value="Delete" data-uid="<%= userAgency._id %>"></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% } else { %>
<div class="content" id="user-agency">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8" id="user-agency-notification">
        <% if(user.role === "waiting"){ %>
        <div class="card" id="success-require-agency">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Agency Register</h4>
          </div>
          <div class="card-body" >
            <h5 class="card-title text-success" style="padding: 20px;text-align: center; font-weight: bold;">Your "Be a Agency" require successly, please wait, we will check and support soon</h4>
          </div>
        </div>
        <% } else if(user.role === "user") { %>
        <div class="card" id="you-are-user">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Agency Register Form</h4>
            <p class="card-category">Complete your profile to be a Agency</p>
          </div>
          <br>
          <div class="alert alert-danger alert-dismissable col-6 m-auto agency-register-alert-error ">
              <span>Update user error example.</span>
          </div>
          <div class="alert alert-success alert-dismissable col-6 m-auto agency-register-alert-success">
            <span>Update user success example.</span>
          </div>
          <div class="card-body">
            <form method="post" action="/user/agency-register">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">First Name</label>
                    <input id="input-fName" name="fName" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input id="input-lName" name="lName" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">City</label>
                    <input id="input-city" name="city" type="text" class="form-control"
                    <% if(user.address){ %> value="<%= user.address %>" readonly <% } %>
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Phone</label>
                    <input id="input-phone" name="phone" type="phone" class="form-control"
                      <% if(user.phone){ %> value="<%= user.phone%>" readonly <% } %>
                    >
                  </div>
                </div>
              </div>
              <input type="button" id="btn-cancel-agency" class="btn btn-danger pull-right" value="Cancel">
              <input type="button" id="btn-register-agency" class="btn btn-warning pull-right" value="Submit">
              
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
        <% } else { %>
       <div class="card" id="success-become-agency">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Agency Register</h4>
          </div>
          <div class="card-body" >
            <h5 class="card-title text-warning" style="padding: 20px;text-align: center; font-weight: bold;">Your are a awesome Agency, try your hard to buid your team and get more profit</h4>
          </div>
        </div>
        <% } %>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="images/avatars/<%= user.avatar %>">
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category">Invester</h6>
            <h4 class="card-title"><%= user.username %></h4>
            <p class="card-description">Email:
              <% if(user.local.email){ %>
              <%= user.local.email %>
              <% }; %>
              <% if(user.facebook.email){ %>
              <%= user.facebook.email %>
              <% }; %>
              <% if(user.google.email){ %>
              <%= user.google.email %>
              <% }; %>
            </p>
            <p class="card-description">Address: <%= user.address %></p>
            <p class="card-description">Phone: <%= user.phone %></p>
            <p class="card-description">Refferal Link: <input id="myRef" class="btn btn-outline-success"
                value="<%= refferer %>" readonly></input></p>
            <button id="copyContent" data-clipboard-target="#myRef" href="javascript:void(0)"
              class="btn btn-primary btn-round">Copy Refferal Link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
<div class="content" id="user-invest">
  <div class="container-fluid">
    <div class="row">
      <% if(user.wallet === "0x0") { %>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Enter Your ERC20 WALLET ADDRESS Now</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="alert alert-danger alert-dismissable user-update-wallet-alert-error">
                <span>Update user error example.</span>
              </div>

              <div class="alert alert-success alert-dismissable user-update-wallet-alert-success">
                <span>Update user success example.</span>
              </div>
              <form action="/user/update-wallet" method="post" class="text-center">
                <input id="input-current-password" class="btn btn-white col-md-4 col-sm-8" type="password"
                  name="password" placeholder="Enter your curent password...">
                <br>
                <br>
                <input id="input-update-wallet" class="btn btn-white col-md-4 col-sm-8" type="text" name="wallet"
                  placeholder="Enter your ERC20 wallet address...">
                <br>
                <br>
                <input id="btn-update-wallet" type="button" class="btn btn-primary" value="Submit">
                <input id="btn-cancel-wallet" type="button" class="btn btn-primary" value="Cancel">
              </form>
            </div>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="col-md-12 col-sm-12">
        <div class="card text-center m-auto">
          <div class="card-header card-header-primary">
            <h4 class="card-title text-left">Invest</h4>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 text-center mt-5">
        <img src="<%= srcAddress %>">
      </div>
      <div class="col-md-12 col-sm-12 mr-auto text-center mt-5">
        <input id="astraAddress" class="btn btn-outline-success col-md-4 col-sm-12" value="<%= totalAddress %>"
          readonly>
        <button id="copyAddress" data-clipboard-target="#astraAddress" class="btn btn-danger col-md-2 col-sm-12">Copy
          Address</button>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Your History Invest</h4>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-warning">
                <th>Time</th>
                <th>value</th>
                <th>TransactionHash</th>
              </thead>
              <tbody>
                <tr>
                  <td>Dakota Rice</td>
                  <td>Niger</td>
                  <td>0xdf1dada0ac045aca72a05daee1441129a744d79ca8050d3d5ac18ef406db41b2</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
<div class="content" id="user-affiliate">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Your Affiliate Link</h4>
          <input id="myRefLink" class="btn btn-outline-success" value="<%= refferer %>" readonly>
          <button id="copyRefLink" data-clipboard-target="#myRefLink" class="btn btn-warning">Copy Refferal Link</button>
          </p>
        </div>
      </div>
      <div class=" card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Your Investers</h4>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Balance</th>
              <th>Revenue</th>
              <th>Investers</th>
            </thead>
            <tbody>
              <% listUser.forEach(function (listUser){ %>
              <tr id="network-user-info" data-uid="<%= listUser.uid %>">
                <td><%= listUser.email %></td>
                <td><%= listUser.phone %></td>
                <td><%= listUser.address %></td>
                <td><%= listUser.balance %></td>
                <td><%= listUser.revenue %></td>
                <td><%= listUser.invester %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content" id="user-notification">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Notifications</h4>
        <p class="card-category">Handcrafted by our friend
          <a target="_blank" href="https://github.com/mouse0270">Robert McIntosh</a>. Please checkout the
          <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">full documentation.</a>
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h4 class="card-title">Notifications Style</h4>
            <div class="alert alert-info">
              <span>This is a plain notification</span>
            </div>
            <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span>This is a notification with close button.</span>
            </div>
            <div class="alert alert-info alert-with-icon" data-notify="container">
              <i class="material-icons" data-notify="icon">add_alert</i>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span data-notify="message">This is a notification with close button and icon.</span>
            </div>
            <div class="alert alert-info alert-with-icon" data-notify="container">
              <i class="material-icons" data-notify="icon">add_alert</i>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="material-icons">close</i>
              </button>
              <span data-notify="message">This is a notification with close button and icon and have many lines. You
                can
                see that the icon and the close button are always vertically aligned. This is a beautiful
                notification.
                So you don't have to worry about the style.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <%- include("footer"); -%>